/* ===============================
   Colour Palette:
   ---------------

   Brown : #996633
   Bleu : #b3ccff
   Gray antracite :  #2e2e1f
   Beige : #ffcc66

   Font
   --------
   font-family: "Open Sans"
   
   =============================== */

/* General */

body {
    background-color: #dbdbdbdb;
}

.container{

}

/* Typography */

h1
{

}

h4{
}

h6{

}

p{

}


hr {

}

/* Experience */
/* Citation */
/* Formation */
/* Anecdote */
/* Compétences */
/* Centres d'interet */
/* Footer */

